body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	display: flex;
    justify-content: center;
    background-color: #A41E22;
}
#root{
	display: flex;
    justify-content: center;
}

@font-face {
    font-family: Kadwa;
    src: url(./font/Kadwa-Regular.ttf);
}
@font-face {
    font-family: KadwaBold;
    src: url(./font/Kadwa-Bold.ttf);
}
p{
    margin: 0;
    font-family: Kadwa;
}